/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

:root {
  --main-font-family: "Poppins", sans-serif;
  --main-font-size: 16px;
  --primary-linear-gradient: linear-gradient(to right, #f9d976, #f39f86);
  --primary-color: rgba(243, 159, 134, 1);
  --secondary-color: rgba(249, 217, 118, 1);
}
body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  background: rgba(0, 0, 0, 0.7);
  background-image: url(../img/background/default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
.header {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
}
.header__title {
  font-size: 0.9em;
  color: white;
  padding: 10px;
  font-weight: bold;
  background: var(--primary-linear-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/*** recherche de la ville ***/
.city-form {
  width: 95%;
  max-width: 800px;
  margin: 16px auto 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.city-form__label {
  background: linear-gradient(to right, #f9d976, #f39f86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
}
.inline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.city-form__button-info {
  margin-left: 24px;
  padding: 5px;
  width: 35px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  text-align: center;
  background-color: transparent;
}
.city-form__icon-info {
  filter: invert(71%) sepia(6%) saturate(3042%) hue-rotate(324deg)
    brightness(99%) contrast(92%);
  width: 16px;
  height: auto;
}
.city-form__input {
  width: 70%;
  height: 30px;
  margin: 8px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.city-form__button-search {
  margin: 8px;
  cursor: pointer;
  border-radius: 10px;
  padding: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--primary-color);
}
.city-form__button-info:active,
.city-form__button-search:active {
  transform: translateY(1px);
}
.city-form__button-info:hover,
.city-form__button-search:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.city-form__icon-search {
  filter: invert(71%) sepia(6%) saturate(3042%) hue-rotate(324deg)
    brightness(99%) contrast(92%);
  width: 24px;
}
.city-form__error-message {
  display: flex;
  justify-content: center;
  color: white;
}
/*** choix d'une ville ***/
.city-selection {
  display: flex;
  flex-direction: column;
  margin: 8px;
}
.city-selection__info {
  margin: 8px auto;
  background: linear-gradient(to right, #f9d976, #f39f86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  font-weight: bold;
}
.city-selection__list {
  color: white;
}
.city-selection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 8px;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
}
.city-selection__item:hover {
  background: var(--primary-linear-gradient);
  color: black;
  font-weight: 500;
}
.city-selection__img,
.current-forecast__img_flag {
  width: 24px;
  height: auto;
}
/*** affichage météo actuelle ***/
.forecast {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white;
  width: 95%;
  max-width: 800px;
  margin: 8px auto;
}
.current-forecast__list-location {
  display: flex;
  justify-content: center;
}
.current-forecast__item {
  margin: 8px 8px;
}
.current-forecast__list-datetime {
  text-align: center;
}
.current-forecast__list-skyinfos {
  text-align: center;
}
.current-forecast__item-temp {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
  background: linear-gradient(to right, #f9d976, #f39f86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.current-forecast__icon {
  width: 80px;
  height: auto;
}
.current-forecast__item-descr {
  margin-bottom: 8px;
}
.current-forecast__list-others {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.current-forecast__item-humidity,
.current-forecast__item-wind,
.current-forecast__item-sunrise,
.current-forecast__item-sunset,
.current-forecast__item-feelTemp {
  border: 1px solid rgba(243, 159, 134, 1);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 45%;
  margin: 5px auto;
}

/*** affichage météo périodique ***/
.periodical-forecast {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin: 16px auto;
  text-align: center;
}
.periodical-forecast__list {
  padding: 10px;
  margin: auto;
  width: 23%;
  border-top: 2px solid var(--primary-color);
}
/*# sourceMappingURL=style.css.map */
