html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.current-forecast__list-location, .information-modal__buttonbloc, .city-form__error-message, .city-form__search, .city-form__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-forecast__item-temp, .city-selection__info, .information-modal__title, .city-form__label, .header__title {
  background: linear-gradient(to right, #F9D976, #F39F86);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.information-modal__button:active, .city-form__button-search:active, .city-form__button-info:active {
  transform: translateY(1px);
  box-shadow: 2px 2px 5px #F39F86;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url(../img/background/default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

/* header */
.header {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.header__title {
  font-size: 0.9em;
  padding: 10px;
  font-weight: bold;
  color: #FFFFFF;
}

/* bloc search city */
.city-form {
  width: 95%;
  max-width: 800px;
  margin: 16px auto 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.city-form__label {
  font-weight: bold;
}

.city-form__button-info {
  margin-left: 24px;
  padding: 5px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #F9D976, #F39F86);
  border: none;
  border-radius: 50%;
}

.city-form__icon-info {
  width: 12px;
}

.city-form__input {
  width: 70%;
  height: 30px;
  margin: 8px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #F39F86;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

.city-form__button-search {
  margin: 8px;
  padding: auto;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #F39F86;
}

.city-form__button-search:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.2s;
}

.city-form__icon-search {
  width: 24px;
  filter: invert(71%) sepia(6%) saturate(3042%) hue-rotate(324deg) brightness(99%) contrast(92%);
}

.city-form__error-message {
  color: #FFFFFF;
}

/* modal */
.information-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 200ms ease-in-out;
  pointer-events: none;
}

.information-modal__overlay-visible {
  opacity: 1;
  pointer-events: all;
}

.information-modal {
  display: none;
  position: fixed;
  width: 90%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  padding: 10px;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  background-color: rgb(0, 0, 0);
  color: #FFFFFF;
  border: 2px solid #F39F86;
  border-radius: 10px;
  z-index: 10;
}

.information-modal-active {
  display: block;
}

.information-modal__title {
  font-size: 1.2em;
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #F39F86;
}

.information-modal__textbloc {
  padding: 10px;
}

.information-modal__text {
  margin: 16px 8px;
}

.information-modal__button {
  padding: 10px 5px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  background: linear-gradient(to right, #F9D976, #F39F86);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* city choice */
.city-selection {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.city-selection__info {
  margin: 8px auto;
  text-align: center;
  font-weight: bold;
}

.city-selection__list {
  color: #FFFFFF;
}

.city-selection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 8px;
  padding: 5px;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
}

.city-selection__item:hover {
  background: linear-gradient(to right, #F9D976, #F39F86);
  color: #000000;
  font-weight: 500;
}

.city-selection__img {
  width: 24px;
  height: auto;
}

/* display forecast */
.forecast {
  width: 95%;
  max-width: 800px;
  margin: 8px auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

/* current forecast */
.current-forecast {
  color: #FFFFFF;
}

.current-forecast__img_flag {
  width: 24px;
  height: auto;
}

.current-forecast__item {
  margin: 8px 8px;
}

.current-forecast__list-datetime {
  text-align: center;
}

.current-forecast__list-skyinfos {
  text-align: center;
}

.current-forecast__item-temp {
  margin-bottom: 0;
  font-size: 3em;
  font-weight: bold;
}

.current-forecast__icon {
  width: 80px;
  height: auto;
}

.current-forecast__item-descr {
  margin-bottom: 8px;
}

.current-forecast__list-others {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

.current-forecast__item-humidity, .current-forecast__item-feelTemp, .current-forecast__item-sunset, .current-forecast__item-sunrise, .current-forecast__item-wind {
  width: 45%;
  margin: 5px auto;
  padding: 5px;
  border: 2px solid #F39F86;
  border-radius: 10px;
  text-align: center;
}

/* periodical forecast */
.periodical-forecast {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  font-size: 1em;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.periodical-forecast__list {
  width: 23%;
  margin: auto;
  padding: 10px;
  border-top: 2px solid #F39F86;
}/*# sourceMappingURL=style.css.map */